.vscode/**
.vscode-test/**
src/**
images/**
env/**
types/**
.gitignore
.formatignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.vscode-test-web
out/**/*.map